<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head></head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; padding:0; max-width: 600px;">
        <tr>
            <td style="height: 100%">
                <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; background: #42aaff; width: 100%;">
                    <tr>
                        <td style="padding: 10px;">
                            <span style="color: #333333; font: 10px Arial, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block; text-align: center;">Поздравляем!</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; background: #f2f2f2; text-align: center; width: 100%;">
                    <tr>
                        <td>
                            <span style="color: #333333; font: 10px Arial, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block;">Вы успешно зарегистрировались на нашем сайте.</span>
                            <span style="color: #333333; font: 10px Arial, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block;">Спасибо за то, что выбрали нас!</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
                    <tr>
                        <td>
                            <img src="/1.jpg" alt="" border="0" width="600" style="display:block; -webkit-text-size-adjust:none;"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; width: 100%; background: #f2f2f2;">
                    <tr>
                        <td align="center" style="padding: 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:10px 40px; background: #42aaff">
                                <tr>
                                    <td>
                                        <a href="https://google.com"  style="color: #333333; font: 10px Arial, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block; text-decoration: none;" target="_blank">Наш сайт</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; background: #bbbbbb; width: 100%; text-align: center;">
                    <tr>
                        <td>
                            <span style="color: #333333; font: 10px Arial, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block;">С уважением, Команда сайта</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
