<tr>
    <td style="padding: 0">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; height: auto;">
            <tr>
                <td style="padding: 0px;">
                    <img src="https://img2.joyreactor.cc/pics/post/full/furry-фэндомы-furry-art-furry-feline-2928092.png" alt="" border="0" width="600px" style="display:block;"/>
                </td>
            </tr>
        </table>
    </td>
</tr>